body {
    margin: 0;
}

.app {
    position: absolute;
    width: 100%;
    height: 100%;

    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
}

.page-container {
    position: relative;
    flex-shrink: 1;
    width: 100%;
    height: 100%;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
}

.slide-push-leave {
    z-index: -1;
}

.slide-push-enter {
    transform: translateX(100%);
}

.slide-push-enter.slide-push-enter-active {
    transform: translateX(0);
    transition: transform .5s ease-out;
}

.slide-pop-leave {
    transform: translateX(0);
}

.slide-pop-leave.slide-pop-leave-active {
    transform: translateX(100%);
    transition: transform .5s ease-out;
}

.slide-pop-enter {
    z-index: -1;
}

.page .button-fixed {
    position: absolute;
    bottom: 23px;
    right: 23px;
}

/*IndexPage*/

#index {
    color: white;
    background-color: white;
    background-image: url("../pic/index-bg.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#index p {
    font-size: 5em;
    color: white;
}

#index div {
    text-align: center;
}


/*LoginPage*/

#login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}