.assignments-page {
    overflow-y: hidden;
}

.assignment-card-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;    
}

.submission-list {
    top: 0;
    left: 50%;
    width: 50%;
    z-index: 3;
}
.submission-list-enter {
    transform: translateX(100%);
}
.submission-list-enter.submission-list-enter-active {
    transform: translateX(0);
    transition: transform .5s ease-out;
}
.submission-list-leave {
    transform: translateX(0);
}
.submission-list-leave.submission-list-leave-active {
    transform: translateX(100%);
    transition: transform .5s ease-out;
}

.submission-list-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* same as submission-list */
    z-index: 3;
}
.submission-list-background-enter {
    opacity: 0;
}
.submission-list-background-enter.submission-list-background-enter-active {
    opacity: 1;
    transition: opacity .5s ease-out;
}
.submission-list-background-leave {
    opacity: 1;
}
.submission-list-background-leave.submission-list-background-leave-active {
    opacity: 0;
    transition: opacity .5s ease-out;
}