.slide-push-leave {
    z-index: -1;
}

.slide-push-enter {
    transform: translateX(100%);
}

.slide-push-enter.slide-push-enter-active {
    transform: translateX(0);
    transition: transform .5s ease-out;
}

.slide-pop-leave {
    transform: translateX(0);
}

.slide-pop-leave.slide-pop-leave-active {
    transform: translateX(100%);
    transition: transform .5s ease-out;
}

.slide-replace-leave {
    z-index: -1;
}
